{% extends "jobs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


{% if follow_up.title %}
    <h1>Update Follow Up</h1>
{% else %}
    <h1>Create Follow Up</h1>
{% endif %}

<div class="mt-3">            
    <a href="{% url 'jobs:follow_ups_list' %}" class="btn btn-outline-primary">Back to All Follow Ups</a>
</div>

<div class="card mt-3 p-3" style="width: 75%;">
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-success">Save Changes</button>

            {% if follow_up.name %}
                <a class="btn btn-outline-secondary" href="{% url 'jobs:follow_ups_list' follow_up.id %}">Cancel</a>
            {% else %}
                <a class="btn btn-outline-secondary" href="{% url 'jobs:follow_ups_list' %}">Cancel</a>
            {% endif %}
            
          </form>
    </div>
</div>

{% endblock content %}