{% extends "jobs/base.html" %}
{% block content %}

<h1>Delete Follow Up</h1>
<p class="fs-5">Are you sure you whant to delete this Follow Up: {{ followup.name }} for {{ followup.job }}?</p>

<div class="card mt-3" style="width: 75%;">
    <div class="card-body">

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3>Details:</h3>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ followup.job }}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ followup.name }}</h6>                
                <p class="card-text">{{ followup.description }}</p>
                <p class="card-text">{{ followup.notes }}</p>
                <p class="card-text">{{ followup.created_date }}</p>
                <p class="card-text">{{ followup.due_date }}</p>
                <p class="card-text">{{ followup.resolved }}</p>
                <a href="#" class="card-link">{{ followup.url }}</a>
            </fieldset>
            <div class="form-group mt-3">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'jobs:follow_ups_detail' followup.id %}">Cancel</a>
            </div>
        </form>
        

        
        
    </div>
</div>
{% endblock content %}