{% extends "jobs/base.html" %}
{% block content %}

<h1>Delete Job</h1>
<p class="fs-5">Are you sure you whant to delete this job: {{ job.title }} @ {{ job.company }}?</p>

<div class="card mt-3" style="width: 75%;">
    <div class="card-body">

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3>Details:</h3>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ job.company }}</h6>
                <h4 class="card-title">{{ job.title }}</h4>
                <p class="card-text">{{ job.description }}</p>
                <p class="card-text">{{ job.notes }}</p>
                <p class="card-text">{{ job.applied_date }}</p>
                <p class="card-text">{{ job.favorite }}</p>
                <a href="#" class="card-link">{{ job.url }}</a>
            </fieldset>
            <div class="form-group mt-3">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'jobs:job_detail' job.id %}">Cancel</a>
            </div>
        </form>
        

        
        
    </div>
</div>
{% endblock content %}