{% extends "jobs/base.html" %}
{% block content %}

<h1>AppliTrack | Jobs</h1>
<p class="fs-5">Track your job search by adding jobs that you've applied to.</p>
<p class="fs-5">Favorite jobs that respond, and add follow up items to stay organized and productive.</p>

<div class="m-3">            
    <a href="https://getbootstrap.com" class="btn btn-outline-primary">Favorites</a>
    <a href="https://getbootstrap.com" class="btn btn-outline-primary">Show All</a>
    <a href="{% url 'jobs:job_create' %}" class="btn btn-outline-primary">Add Job</a>
</div>

    {% for job in job_list %}
        <div class="card mt-3" style="width: 75%;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ job.company }}</h6>
                <h4 class="card-title">{{ job.title }}</h4>
                <p class="card-text">{{ job.description }}</p>
                <p class="card-text">{{ job.notes }}</p>
                <p class="card-text">{{ job.applied_date }}</p>
                <p class="card-text">{{ job.favorite }}</p>

                {% for followup in job.followup_set.all %}
                <div class="card mt-3" style="width: 75%;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ followup.name }}</h6>
                        <p class="card-text">{{ followup.description }}</p>
                    </div>
                </div>
                {% endfor %} 

                <a href="{% url 'jobs:job_detail' job.id %}" class="card-link">Details</a>
                <a href="#" class="card-link">{{ job.url }}</a>
            </div>
        </div>
    {% endfor %} 
{% endblock content %}   


